{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this"><a href="">反序列化漏洞演示</a></li>
            </ul>
            <div class="layui-tab-content">
                <form class="layui-form" action="/admin/Serialize/index" method="post" >
                    <div class="layui-form-item">
                        <label class="">序列化串</label>
                        <div class="layui-form-field-label">
                            <input type="text" name="payload" placeholder="请输入序列化串" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div>
                            <input type="submit" class="layui-btn">
                        </div>
                    </div>
                </form>
                <div class="layui-form-item">
                    源代码：
                    <br>
                    <textarea style="width: 100%; height: 350px" class="layui-textarea">
                       {$code}
                    </textarea>

                    </pre>

                </div>
            </div>
        </div>
    </div>
</div>
{/block}