<!--S 底部-->
<div class="footer">
    <div class="w1200 clearfix">
        <div class="links">
            <!--此处可用安装友情链接模块-->
            <span>友情链接：</span>
            <a href="http://www.cumt.edu.cn/" target="_blank">中国矿业大学</a>
            <a href="http://is.cumt.edu.cn/" target="_blank">网络空间安全学院</a>
            <a href="https://lethe.site/" target="_blank">个人博客</a>
            <a href="http://www.thinkphp.cn/" target="_blank">ThinkPHP</a>
            <!--此处可用安装友情链接模块-->
        </div>
        <ul class="botnavlist fl">
            {yzn module="cms" action="category" catid="0" cache="3600" where="id in(1,6,8)" order="listorder ASC" num="4" return="data"}
            {volist name="data" id="vo"}
            <li><a href="{$vo.url}" title="{$vo.catname}">{$vo.catname}</a>
                <div class="drop clearfix">
                    <!--判断是否有子栏目-->
                    {eq name="vo.child" value="1"}
                    {yzn module="cms" action="category" catid="$vo['id']" cache="3600" order="listorder ASC" num="10" return="data"}
                    {volist name="data" id="vo"}
                    <a href="{$vo.url}" title="{$vo.catname}">{$vo.catname}</a>
                    {/volist}
                    {/yzn}
                    {/eq}
                </div>
            </li>
            {/volist}
            {/yzn}
        </ul>
        <div class="qcode fr">
            <!--此处变量可以后台配置设置调用-->
            <div class="btel fl">
                <p class="p3">邮　箱：LetheSec@foxmail.com</p>
                <p class="p3">手　机：178-5114-6833</p>
                <p class="p3">地　址：江苏省徐州市大学路一号</p>
            </div>

            <!--此处变量可以后台配置设置调用-->
        </div>
</div>

<!--E 底部-->
<script src="__JS_PATH__/base.js"></script>
</body>

</html>