<div class="content-left">
    <h2 class="content-title">加入我们</h2>
    <div class="menu-list">

        <a href="/about/index/index/?file=about.php" class="transition active">关于我们</a>
        <a href="/about/index/blog/?url=https://lethe.site/about/" class="transition active">作者博客</a>

    </div>
    <!--S 联系我们 -->
    <div class="content-contact">
        <div class="h2bg">
            <h2>联系我们</h2>
        </div>
        <div class="cc-info">
            <!--此处变量可以后台配置设置调用-->
            <p>手　机：178-5114-6833</p>
            <p>邮　箱：admin@admin.com</p>
            <p>地　址：江苏省徐州市大学路一号</p>

            <!--此处变量可以后台配置设置调用-->
        </div>
    </div>
    <!--E 联系我们 -->
</div>